/* Document-wide elements */

body {
    background-color: #370617;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flexbox, card objects and squares */

.flexbox {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_container {
    background-color: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    min-width: 468px;
    min-height: 160px;
    margin: 20px;
    padding: 20px;
    display: flex;
    
}

.card__square {
    background-color: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

/* Special card classes by ordinal numbers */

.first { 
    align-items: flex-end;
}

.second {
    justify-content: center;
    align-items: stretch;
}

.third {
    justify-content: flex-end;
    align-items: center;
}

.fourth { 
    justify-content: space-between;
    align-items: flex-start;
}

.fourth > *:last-child {
    align-self: flex-end;
}

.fifth {
    justify-content: space-evenly;
}

.fifth > *:nth-child(2) {
    align-self: center;
    text-align: center;
}

.sixth {
    justify-content: center;
}

.sixth > *:nth-child(2) {
    justify-content: stretch;
    width: 200%;
}