/* Document-wide elements */

body {
    background-color: #FAA307;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Flexbox, card objects and dots */

.flexbox {
    max-width: 70%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.card_container {
    background-color: #03071E;
    flex-basis: 273px;
    height: 220px;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flexbox > *:nth-child(even) {
    background-color: #6A040F;
}

.card__dot {
    min-height: 50px;
    min-width: 50px;
    background-color: #748CAB;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Special card classes by ordinal numbers */

.first {
    align-content: flex-start;
}

.second {
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap-reverse;
}

.third {
    justify-content: space-between;
    align-content: space-between;
}

.fourth {
    justify-content: space-evenly;
    align-items: center;
}

.fifth {
    justify-content: center;
    align-content: center;
}